    <!DOCTYPE html>
    <html>
    <head>
    <title>Heltech page authorisation for content managers</title>
    <meta charset="UTF-8">
    <script>
    var updateForm = function() {
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
	    if (this.readyState == 4 && this.status == 200) {
		document.getElementById("theForm").innerHTML = this.responseText;
	    }
	};
	xhttp.open("GET", "{% url 'authorize_page' %}", true);
	xhttp.send();
    };
</script>
    </head>
    <body onLoad="updateForm()">
    <script>
    var onLogin;

function setToken(token) {
    document.getElementById("id_user_token").value = token;
}

function setStyle(style) {
    document.getElementsByTagName("label")[0].setAttribute("style", style);
}

window.fbAsyncInit = function() {
    FB.init({
	appId      : {{app.app_id}},
	cookie     : true,
	xfbml      : true,
	version    : 'v2.10'
    });
    
    FB.getLoginStatus(function(response) {
	if (response.status === 'connected') {
	    if(document.getElementById("id_user_token") === null) {
	    } else {
		setToken(response.authResponse.accessToken);
		setStyle("color: green;");
		
	    }
	} else {
	    if(document.getElementById("id_user_token") === null) {
	    } else {
		setToken("");
		setStyle("color: red;");

	    }
	}
    });

    onLogin = function() {
	FB.getLoginStatus(function(response) {
	    if (response.status === 'connected') {
		if(document.getElementById("id_user_token") === null) {
		} else {
		    setToken(response.authResponse.accessToken);
		    setStyle("color: green;");
		}
	    } else {
		setToken("");
		setStyle("color: red;");
	    }
	});
    }
};

(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));





</script>

    <div id="fb-root"></div>
    <h1> Authorisation page for content managers </h1>
    <p>DISCLAIMER. This page is intended for the content managers to grant the server access to th  Hel tech pages. Nothing will be published on behalf of the page. Only event information is downloaded to show infromation on the main site. Users of the Hel tech site are not expected to sign in.<p>
    <div class="fb-login-button" scope="pages_show_list,manage_pages" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false" onlogin="onLogin()"></div>

    <h2> Meaning of colors below</h2>
    <p> RED: You are not logged in to facebook, please use the above to log in. The login popup will ask you to grant access to: public_profile (TBD this is not needed or used), pages_show_list (needed for fetching the page events) and manage_pages (for extending the token lifetime)
    </p>
    <p> Green: You are logged in, and can authorise the page by clicking on the button below </p>
    <div id="theForm"></div>




    </body>
    </html>
