<html>
  <head>
  </head>
  <body>
    <form action="/events/select" method="post">
      <input type="hidden" name="pagename" value={{name}}>
      {% csrf_token %}
      <table>
      <tr>
	<th>Select</th>
	<th>Category</th>
	<th>Name</th>
	<th>Id</th>
	</tr>
      {% for line in data %}
      <tr>
	<td> <input type="checkbox" name="pageid" value={{line.id}}></td>
  <td> {{line.category}} </td>
  <td> {{line.name}} </td>
  <td class="id-field" id={{line.id}}> {{line.id}} </td>
</tr>
{% endfor %}
    </table>
        <button type="submit" value="submit">Select page</button>

    </form>
  </body>
</html>
