<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HelTech</title>
    <meta name="description" content="HelTech">
    <meta name="author" content="HelTech">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>

    <div id="app"></div>
    <script src="/static/dist/build.js"></script>

    <footer class="footer" id="footer">
        <div class="footerwrapper">
            <p>Designed and developed for the sake of ECTS in the Aalto University course:
                <br/>Design of WWW Services, 2017</p>
        </div>
    </footer>

</body>

</html>
